.main-table {
  border-collapse: collapse;
  width: 800px;
  min-height: 400px;
}

.table-wrapper {
  overflow-y: auto;
  max-height: 80dvh;
  padding: 16px;
}

tbody {
  color: white;
  background-color: #66758a;
  tr:nth-child(even) {
    background-color: #334155;
  }
}

td {
  padding: 16px;
  text-align: center;
  border: 1px black solid;
}

tfoot td {
  text-align: right;
  color: white;
  background-color: #334155;
}

thead th {
  padding: 8px;
  background-color: #1e293b;
  color: white;
  border: 1px solid black;
}

.filter-price-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/* .filter-price {
  display: flex;
} */
